<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      {{ with .Site.Params.gravatarHash }}<img src="http://www.gravatar.com/avatar/{{ . }}?s=200" alt="gravatar">{{ end }}
      <h1>{{ .Site.Title }}</h1>
      <p class="lead">
      {{ with .Site.Params.Description }} {{.}} {{ else }}The quieter, the more!{{end}}
      </p>
    </div>

    <ul class="sidebar-nav">
      <li><a href="/">Home</a> </li>
      <li><a href="/post">Post</a> </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{end}}
    </ul>

    <ul class="sidebar-nav">
      {{ with .Site.Params.github }}<li class="sidebar-nav-item"><a href="{{ . }}">GitHub</a></li>{{ end }}
      {{ with .Site.Params.linkedin }}<li class="sidebar-nav-item"><a href="{{ . }}">LinkedIn</a></li>{{ end }}
      {{ with .Site.Params.googleplus }}<li class="sidebar-nav-item"><a href="{{ . }}">Google+</a></li>{{ end }}
      {{ with .Site.Params.facebook }}<li class="sidebar-nav-item"><a href="{{ . }}">Facebook</a></li>{{ end }}
      {{ with .Site.Params.twitter }}<li class="sidebar-nav-item"><a href="{{ . }}">Twitter</a></li>{{ end }}
      {{ with .Site.Params.weibo }}<li class="sidebar-nav-item"><a href="{{ . }}">Weibo</a></li>{{ end }}
    </ul>

      <a href="https://www.upyun.com/">
        <img border="0" src="http://akagi201.qiniudn.com/upyun_logo5.png" />
      </a>
    </p>
  </div>
</div>
